<div class="card border-primary mb-3 " style="margin-top: 90px;">
    
    <div class="card-body text-primary text-center">
      <h5 class="card-title">Listado de Roles</h5>
      <div class="card-header"> Roles registrados</div>
      <br>
     
      <button  (click)="add()"  class="btn btn-success">Crear Rol</button>
      <br>
            <br>
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>idrol</th>
                <th>nombrerol</th>
                <th>estado</th>
                

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let  rol of roles">
                <td>{{rol.idrol}}</td>
                <td>{{rol.nombrerol}}</td>
                <td>{{rol.estado}}</td>                
                
                <td><button  (click)="Editar(rol)"  class="btn btn-success">Editar</button>
                    <button  (click)="eliminarRol(rol)" style="margin-left: 10px;" class="btn btn-danger ms-3">Eliminar</button></td>
            </tr>
          </tbody>
      </table>
      
      
    </div>
  </div>
