<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" /> 

    <!-- Bootstrap CSS -->
    
     
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <title>Nosotros</title>
  </head>
  <body id="inicio">
    <!-- Inicio-->
    <header class="masthead d-flex align-items-center" style="margin-top: 90px;">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1">Quiénes Somos</h1>
            <h3 class="mb-5"><em>Buscamos despertar el talento y la creatividad de grandes y chicos ofreciendo la mejor variedad de útiles escolares y de oficina.</em></h3>
            <a class="btn btn-primary btn-xl" >Leer Mas...</a>
        </div>
    </header>

    <!-- Descripcion-->
    <section class="content-section bg-light" id="Descripcion">
        <div class="container px-4 px-lg-5 text-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10">
                    <h2>Sabias que con Lauchun, puedes mejorar tu creatividad!</h2>
                    <p class="lead mb-5">Somos una empresa especializada en la venta de productos de oficina, útiles escolares, suministros de cómputo y papelería en general, 
                        Librería “LAU CHUN” busca incorporarse al sector de ventas utilizando estrategias modernas que llamen la atención de todo público. Para brindar un servicio
                        de calidad y con precios justificados al mercado</p>
                    <a class="btn btn-dark btn-xl" >Estrategias</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Estrategias -->
    <section class="content-section bg-danger text-white text-center" id="Estrategias">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading">
                <h2 class="mb-5">Nuestra Estrategia</h2>
            </div>

            <div class="form-row">

                <div class="col-lg-4 ">
                    <span class="service-icon rounded-circle mx-auto mb-3"><svg style="width: 50px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg></span>
                    <h4><strong>Visión</strong></h4>
                    <p class="text-faded mb-3">Ser la empresa líder en ventas de artículos escolares y lograr un mayor reconocimiento en el Pais.</p>
                </div>

                <div class="col-lg-4 ">
                    <span class="service-icon rounded-circle mx-auto mb-3"><svg style="width: 50px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg></span>
                    <h4><strong>Misión</strong></h4>
                    <p class="text-faded mb-3">Satisfacer la demanda de nuestros clientes ofreciendo productos con excelentes estándares de calidad y al mejor precio del mercado.</p>
                </div>

                <div class="col-lg-4 ">
                    <span class="service-icon rounded-circle mx-auto mb-3"><svg style="width: 50px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M116.7 33.8c4.5-6.1 11.7-9.8 19.3-9.8H376c7.6 0 14.8 3.6 19.3 9.8l112 152c6.8 9.2 6.1 21.9-1.5 30.4l-232 256c-4.5 5-11 7.9-17.8 7.9s-13.2-2.9-17.8-7.9l-232-256c-7.7-8.5-8.3-21.2-1.5-30.4l112-152zm38.5 39.8c-3.3 2.5-4.2 7-2.1 10.5l57.4 95.6L63.3 192c-4.1 .3-7.3 3.8-7.3 8s3.2 7.6 7.3 8l192 16c.4 0 .9 0 1.3 0l192-16c4.1-.3 7.3-3.8 7.3-8s-3.2-7.6-7.3-8L301.5 179.8l57.4-95.6c2.1-3.5 1.2-8.1-2.1-10.5s-7.9-2-10.7 1L256 172.2 165.9 74.6c-2.8-3-7.4-3.4-10.7-1z"/></svg></span>
                    <h4><strong>Objetivos</strong></h4>
                    <p class="text-faded mb-3">Mejorar los procesos de nuestro negocio, utilizanado la investigación y el análisis para equilibrar nuestro rendimiento y mejorar nuestras decisiones.</p>
                </div>

            </div>
        </div>
    </section>
   
    <!-- Nuestros Valores -->
    <section class="content-section" id="portfolio">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading text-center">

                <h2 class="mb-5">Nuestros Valores</h2>
            </div>
            <div class="form-row gx-0">

                <div class="col-lg-6">
                    <a class="portfolio-item" >
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Innovación</div>
                                <p class="mb-0">Consideramos que la innovación y la creatividad son las bases para lograr mejoras continuas y poder ofrecer soluciones 
                                    con beneficios relevantes a los consumidores finales.</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../../assets/img/nosotros-img/portfolio-1.jpg" alt="..." />
                    </a>
                </div>

                <div class="col-lg-6">
                    <a class="portfolio-item" >
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Responsabilidad</div>
                                <p class="mb-0">Somos consecuentes de nuestra responsabilidad social dentro de la compañía, con nuestros socios de negocios y con la comunidad.</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../../assets/img/nosotros-img/Responsabilidad.png" alt="..." />
                    </a>
                </div>

                <div class="col-lg-6">
                    <a class="portfolio-item" >
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Atencion al Cliente</div>
                                <p class="mb-0">Personalizamos la atencion y los procesos, que los colaboradores estén enfocados en las novedades de la empresa y del mercado.</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../../assets/img/nosotros-img/Atencion al cliente.png" alt="..." />
                    </a>
                </div>

                <div class="col-lg-6">
                    <a class="portfolio-item" >
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Compromiso</div>
                                <p class="mb-0">Estamos orgullosos de estar aqui, ofreciendoles lo mejor cada dia, nos compremetemos que sea asi siempre.</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../../assets/img/nosotros-img/portfolio-4.jpg" alt="..." />
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Mapa - Lauchun-->
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31210.144749079547!2d-77.03747572089846!3d-12.093790099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7d0ed0e7327%3A0xf0b5678866c58c2e!2sLau%20Chun!5e0!3m2!1ses-419!2spe!4v1657732693055!5m2!1ses-419!2spe" 
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Footer-->
    <footer class="footer text-center">
        <div>
            <p></p>
        </div>
    </footer>
    
    <!-- Boton de subida -->
    <a class="scroll-to-top rounded" href="#inicio"><i class="fas fa-angle-up"></i></a>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/4ee8af2e6c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>