<div class="container w-75 bg-white mt-5 rounded shadow" style="margin-top: 90px;" id="contenedor">
    <div class="row align-items-stretch" >
        
        <div class="col p-5 rounded-end">
            <br>
            <br>
            <br>
            
            <h2 class="fw-bold text-center py-6">New Proveedor</h2>
            <br>
           

            <select name="idrol"  [(ngModel)]="usuario.idrol" class="form-control ps-2" aria-label="Default select example">
                <option  [ngValue]="undefined" selected>--Seleccione--</option>
                <option *ngFor="let rol of roles" [ngValue]="rol">{{rol.nombrerol}}</option>
                
            </select>
               
                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Nombre</label><br>
                    <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="usuario.nombre" >
                </div>

                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Apellidos</label><br>
                    <input type="text" class="form-control" name="apellidos" id="apellidos " [(ngModel)]="usuario.apellidos" >
                </div>

                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">sexo</label><br>
                    <input type="text" class="form-control" name="sexo" id="sexo" [(ngModel)]="usuario.sexo" >
                </div>

                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Email</label><br>
                    <input type="text" class="form-control" name="email" id="email" [(ngModel)]="usuario.email" >
                </div>

                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Dni</label><br>
                    <input type="text" class="form-control" name="dni" id="dni " [(ngModel)]="usuario.dni" >
                </div>

                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Direccion</label><br>
                    <input type="text" class="form-control" name="direccion" id="direccion" [(ngModel)]="usuario.direccion" >
                </div>

                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Usuario</label><br>
                    <input type="text" class="form-control" name="usuario" id="usuario" [(ngModel)]="usuario.usuario" >
                </div>

                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Password</label><br>
                    <input type="password" class="form-control" name="password" id="password" [(ngModel)]="usuario.password" >
                </div>

                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Estado</label><br>
                    <select name="estado"  [(ngModel)]="usuario.estado" class="form-control ps-2" aria-label="Default select example">
                        <option [ngValue]="undefined" selected>--Seleccione--</option>
                        <option [ngValue]="true">true</option>
                        <option [ngValue]="false">false</option>
                    </select>
                    <br>                    
             

                <div class="d-grid  ">
                    <button (click)="GuardarProveedor(usuario)" type="submit" class="btn btn-primary fw-bold text-light">Registrar</button>
                </div>
            
           
            
            
        </div>
        <div  class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded" >

        </div>
        
    </div>
</div>

