<div class="container w-75 bg-white mt-5 rounded shadow" style="margin-top: 90px;">
    <div class="row align-items-stretch" >
        
        <div class="col p-5 rounded-end">
            <br>
            <br>
            
            <h2 class="fw-bold text-center py-6">New TipoPago</h2>
            <br>
           

            
               
                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Nombre</label><br>
                    <input type="text" class="form-control" name="nom_tipopago" id="nom " [(ngModel)]="tipopago.nombtipopago" >
                </div>


                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Estado</label><br>
                    <select name="estado"  [(ngModel)]="tipopago.estado" class="form-control ps-2" aria-label="Default select example">
                        <option [ngValue]="undefined" selected>--Seleccione--</option>
                        <option [ngValue]="1">true</option>
                        <option [ngValue]="0">false</option>
                    </select>
                    <br>
                    
             

                <div class="d-grid  ">
                    <button (click)="GuardarTipoPago(tipopago)" type="submit" class="btn btn-primary fw-bold text-light">Registrar</button>
                </div>
            
           
            
            
        </div>
        <div  class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded" >

        </div>
        
    </div>
</div>
