<div class="container w-75 bg-white mt-5 rounded shadow" style="margin-top: 90px;">
    <div class="row align-items-stretch" >
        
        <div class="col p-5 rounded-end">
            <br>
            <br>
            
            <h2 class="fw-bold text-center py-6">Editar Tipo Pago</h2>
            <br>
           

            <form action="#">
                
                <div class="mb-4">
                    <label for="" >ID : {{tipopago.idtipopago}}</label>
                    <br>
                    <label for="" class="form-label fw-bolder">TipoPago</label><br>
                    <input type="text" class="form-control" name="nombre" id="idcategoria" [(ngModel)]="tipopago.nombtipopago">
                </div>

                <div class="mb-4">
                    <label for="" class="form-label fw-bolder">Estado</label><br>
                    <select name="estado"  [(ngModel)]="tipopago.estado" class="form-control ps-2" aria-label="Default select example">
                        <option [ngValue]="undefined" selected>--Seleccione--</option>
                        <option [ngValue]="true">true</option>
                        <option [ngValue]="false">false</option>
                    </select>
                </div>
            
                <div class="d-grid  ">
                    <button (click)="ActualizarTipoPago(tipopago)" type="submit" class="btn btn-primary fw-bold text-light">Actualizar</button>
                </div>
                
                
            </form>
            
            
            
        </div>
        <div style="align-items: center; justify-content: center; align-content: center;" class="col-md-5 col-lg-5 col-xl-6 rounded" >
            <br>
            <br>
            <br>
            <br>
            <img style="width: 70%;" src="../../../assets/img/imagenescomp/metodopago.jpg" alt="">

        </div>
        
    </div>
    <br>
    <br>
</div>
